:root{
    --accent: rgb(47, 159, 211);
}

body{
    margin: 0px;
    background-color: rgb(218, 218, 218);
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    padding-left: 20px;
    background-color: var(--accent);
    height: 100vh;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    grid-row: 1 / 4;
    box-shadow: 1px 0px 20px black;
    position: sticky;
    top: 0px;
    padding-top: 30px;
}


.dashboard-header{
    display: grid;
    grid-template-columns: 70px 1fr;
}

.dashboard-header > svg{
    grid-column: 1/2;
}



.dashboard-header > h1{
    margin: 0px;
    grid-column: 2/3;
}


.side-list{
    display: grid;
    gap: 20px;
    
}

.side-list > *{
    list-style-type: none;
    padding: 20px;
    max-width: 200px;
}

.side-list > *:hover{
    transform: scale(1.1);
    background-color: rgba(36, 117, 155, 0.801);

}

.blank:hover{
    background-color: var(--accent);
}

.line-container > li{
    display: grid;
    gap: 20px;
    align-items: center;
}

li > svg{
    grid-column: 1/2;
}

li > div{
    grid-column: 2/3;
    min-width: 170px;
}


#top-bar{
    border-radius: 20px;
    background-color: rgb(218, 218, 218);
    border: none;
    width: 25vw;
    height: 2em;
    padding-left: 20px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    margin: 20px;
    margin-left: 50px;
}

#top-bar:hover{
    border: 2px gray solid;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 5px gray;
    background-color: white;
}


.greeting{
    border: 2px black solid;
}

a{
    color: white;
    text-decoration: none;
}


.center-container{
    display: grid;
    grid-template-rows: 80px 2fr 80px 2fr;
    grid-template-columns: 950px 1fr;
    column-gap: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.project-container{
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 30px;
    grid-row: 2/ span 3;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 18px;
}
  
.card .title {
    font-size: 30px;
    font-weight: bold;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
    padding: 15px;
    max-height: 300px;
    min-height: 250px;
    max-width: 500px;
    border-left: 15px rgb(255, 177, 31) solid;
}

.card:hover{
    background-color: rgb(245, 245, 245);
}

.announcements-box{
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
    padding: 15px;
    padding-left: 25px;
    max-height: 400px;
    max-width: 30%;
    font-size: 14px;
}

.announcements-box > .a-card {
    border-bottom: gray 1px solid;
}

.trending-box{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
    padding: 15px;
    padding-left: 25px;
    max-height: 400px;
    max-width: 30%;
    font-size: 14px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
}

.trend{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    max-height: 100px;
    padding: 15px;
}

.trend>p{
    grid-column: 2/3;
    margin: 0px;
    max-height: 20px;
}

.trend > svg{
    grid-row: 1/ span 2;
    grid-column: 1/2;
}

.handle{
    font-weight: bold;
    align-self: center;
}

.center-container > h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
